.odd {
  background-color: #ffc0cb;
  font-family: "Verdana", "DejaVu Sans", "sans-serif";
}
#N2 {
  color: #0000ff;
  font-size: 36px;
}
.cooler {
  font-size: 24px;
}
#N4 {
  background-color: #90ee90;
  font-size: 24px;
  font-weight: bold;
}
