body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  box-sizing: border-box;
  width: 500px;
  background: #fff;
  padding: 20px;
  margin: auto;
}

.title {
  background: #e3f4ff;
  padding: 20px;
}

.content {
  background: #e3f4ff;
  padding: 20px;
}

.button-container {
  background: #e3f4ff;
  padding: 20px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 10px auto;
  padding: 10px 24px;
  font-size: 16px;
}
